.Search {
  height: 56px;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 70% 20%;
  .Hello {
    @apply flex flex-row items-center;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    .Space {
      width: 10px;
    }
    p {
      color: #3dbda7;
      margin: 0;
      padding: 0;
    }
  }
  .Search {
    @apply flex flex-row items-center justify-end;

    input {
      font-family: "Poppins", sans-serif;
      background: url(https://i.postimg.cc/wjZNxH1G/search-normal.png) no-repeat
        scroll 33px 14px;
      padding-left: 70px;
      font-weight: 600;
      color: white;
      cursor: pointer;
      background-color: #00453f;
      border: none;
      outline: none;
      font-size: 14px;
      width: 550px;
      height: 50px;
      border-radius: 30px;
      position: relative;
      transition: 0.3s all;
    }
    input::placeholder {
      color: #bababa;
    }
    input::before {
      padding-left: 100px !important;
    }
    input:hover {
      box-shadow: rgba(1, 44, 39, 1) 0px 5px 15px;
    }
  }
  .Btns {
    @apply flex flex-row items-center justify-end;
    gap: 16px;
    button {
      border: none;
      background-color: #00453f;
      cursor: pointer;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      transition: 0.3s all;
      img {
        height: 24px;
        width: 24px;
      }
    }
    button:hover {
      box-shadow: rgba(1, 44, 39, 1) 0px 5px 15px;
    }
    button:active {
      transform: translateY(20px);
    }
  }
}
