.App {
  width: calc(100% - 64px);
  height: calc(100vh - 64px);
  background-color: #1d1e22;
  padding: 32px;
  color: white;
  @apply flex;
  gap: 32px;
}

@media only screen and (min-width: 320px) and (max-width: 577px) {
  .App {
    width: calc(100% - 32px);
    height: calc(100vh - 32px);
    padding: 16px;
    gap: 16px;
  }
}
