.LSidebar {
  @apply flex items-center flex-col;
  padding-top: 24px;
  width: 6vw;
  min-width: 100px;
  height: calc(100vh - 64px);
  background-color: #00453f;
  border-radius: 54px;
  img {
    width: 56px;
    height: 56px;
  }

  .NavSection {
    @apply flex flex-col items-center;
    padding-top: 125px;
    gap: 42px;
    .DefaultBtn {
      border: none;
      background-color: rgba(0, 0, 0, 0);
      cursor: pointer;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      transition: 0.3s all;
      img {
        width: 30px;
        height: 30px;
      }
    }
    .UncommonBtn {
      border: none;
      background-color: #3dbda7;
      cursor: pointer;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-shadow: rgba(61, 189, 167, 1) 0px 5px 15px;
      transition: 0.3s all;
      img {
        width: 50px;
        height: 50px;
      }
    }

    .DefaultBtn:hover {
      background-color: #022c29;
      box-shadow: rgba(1, 44, 39, 1) 0px 5px 15px;
    }
    .UncommonBtn:hover {
      transform: scale(1.05);
    }
    .DefaultBtn:active,
    .UncommonBtn:active {
      transform: translateY(20px);
    }
  }
}
